@import 'promotion_menu';

.pieces {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.piece {
    cursor: grab;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    z-index: 5;
    width: 90px;
    height: 90px;

    &:active {
        cursor: grabbing;
    }
}

.mark {
    position: absolute;
    background-color: rgb(255, 255, 51, 0.5);
    z-index: 1;
    width: 90px;
    height: 90px;
}

.valid-moves-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 90px;
    height: 90px;
    pointer-events: none;

    .valid-move {
        background-color: rgb(51, 51, 51, 0.5);
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }
}

.bp {background-image: url('../../public/static/images/chess_pieces/black_pawn.png')}
.br {background-image: url('../../public/static/images/chess_pieces/black_rook.png')}
.bn {background-image: url('../../public/static/images/chess_pieces/black_knight.png')}
.bb {background-image: url('../../public/static/images/chess_pieces/black_bishop.png')}
.bq {background-image: url('../../public/static/images/chess_pieces/black_queen.png')}
.bk {background-image: url('../../public/static/images/chess_pieces/black_king.png')}
.wp {background-image: url('../../public/static/images/chess_pieces/white_pawn.png')}
.wr {background-image: url('../../public/static/images/chess_pieces/white_rook.png')}
.wn {background-image: url('../../public/static/images/chess_pieces/white_knight.png')}
.wb {background-image: url('../../public/static/images/chess_pieces/white_bishop.png')}
.wq {background-image: url('../../public/static/images/chess_pieces/white_queen.png')}
.wk {background-image: url('../../public/static/images/chess_pieces/white_king.png')}

@for $i from 0 through 7 {
    @for $j from 0 through 7 {
        .p-#{$i}#{$j} {transform: translate($j * 100%, $i * 100%)}
    }
}
