@import 'chess_pieces';
@import 'board';

.game-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;

    .game-content {
        display: flex;
        flex-direction: column;
        border: 1px solid;
        border-color: #262626;
        border-radius: 10px;
        height: 800px;
        width: 720px;
        overflow: hidden;

        .game-sidebar {
            font-size: large;
            display: flex;
            align-items: center;
            width: calc(100% - 5px - 5px);
            height: 40px;
            padding: 0px 5px 0px 5px;
            background-color: #2f2f2f;
        
            .game-timer {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 55px;
                height: 30px;
                background-color: #5c5c5c;
                border-radius: 5px;
                margin-left: auto;                
            }

            .game-user-avatar {
                width: 30px;
                height: 30px;
                margin-right: 5px;
            }

            .game-user-rating {
                color: grey;
                margin-left: 5px;
            }
        }
    }
}
