@keyframes scale-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.nav {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  background-color: #2c2c2c;
  border-right: 1px solid;
  border-color: #363636;
  height: 100vh;
  width: 20vh;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.15);
}
.nav .nav-logo {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
}
.nav .nav-link {
  display: flex;
  width: 100%;
  height: 4vh;
  justify-content: center;
  align-items: center;
}
.nav .nav-link:hover {
  background-color: #262626;
}
.nav .nav-footer {
  display: flex;
  border-top: 1px solid;
  border-color: #363636;
  position: absolute;
  align-items: center;
  bottom: 0px;
  height: 5%;
  width: 100%;
  overflow: hidden;
}
.nav .nav-footer .nav-footer-user {
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  width: calc(100% - 25px - 15px);
  margin-left: 10px;
  overflow: hidden;
}
.nav .nav-footer .nav-footer-user .nav-footer-avatar {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.nav .nav-footer .nav-footer-user .nav-footer-username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.nav .nav-footer .nav-footer-logout-button {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: 0px;
  background-image: url("../../public/static/images/icons/logout_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-size: 20px;
  right: 5px;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 150px;
  pointer-events: none;
  animation: alert-disappear-animation 0.6s ease-out 3s 1;
}
@keyframes alert-disappear-animation {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, -150px);
  }
}
.alert .alert-box {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 184, 93);
  position: absolute;
  border: 1px solid;
  border-radius: 25px;
  border-color: rgb(65, 128, 75);
  padding-right: 25px;
  padding-left: 15px;
  height: 50px;
  pointer-events: all;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  animation: alert-appear 0.6s ease-out 0s 1;
}
@keyframes alert-appear {
  from {
    transform: translate(0px, -150px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
.alert .alert-box .alert-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.tooltip {
  color: white;
  background-color: rgba(36, 36, 36, 0.6274509804);
  border-radius: 5px;
  border: 1px solid;
  border-color: #363636;
  position: absolute;
  padding: 4px 8px;
  z-index: 10;
  top: -30px;
  pointer-events: none;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
  animation: scale-animation 0.35s ease 0s 1;
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #363636 transparent transparent transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #363636;
}
.scrollbar::-webkit-scrollbar-track {
  background: rgba(43, 43, 43, 0.9411764706);
  border-radius: 10px;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.error-page .error-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-page .error-box .error-header {
  font-family: "Arial Black", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 160px;
}
.error-page .error-box .error-content {
  font-size: x-large;
  margin-bottom: 15px;
}
.error-page .error-box .error-home-button {
  background-color: rgb(3, 121, 3);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: large;
}

.play-page-sidebar {
  display: flex;
  align-items: center;
  border-left: 1px solid #363636;
  background-color: #2c2c2c;
  height: 100%;
  width: 350px;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.15);
}
.play-page-sidebar .sidebar-play-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 7vh;
  padding: 0px;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(65, 161, 65);
  border-radius: 15px;
  border: 0px;
  border-bottom: 4px solid rgb(6, 141, 6);
  color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
}
.play-page-sidebar .sidebar-play-button:hover {
  background-color: rgb(62, 151, 62);
  border-color: rgb(6, 133, 6);
}
.play-page-sidebar .sidebar-play-button .sidebar-play-button-title {
  font-size: large;
  font-weight: 700;
}
.play-page-sidebar .sidebar-play-button .sidebar-play-button-content {
  font-size: small;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}
.chat .chat-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  height: 90%;
  width: 85%;
  border-radius: 25px;
  border: 1px solid;
  border-color: #363636;
  overflow: hidden;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.chat .chat-container .chat-header {
  font-size: large;
  padding: 10px 0px;
  text-align: center;
  background-color: #262626;
  border-bottom: 1px solid;
  border-color: #363636;
}
.chat .chat-container .chat-messages {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
}
.chat .chat-container .chat-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
  border-top: 1px solid;
  border-color: #363636;
  background-color: #262626;
}
.chat .chat-container .chat-footer .chat-footer-input {
  width: 65%;
  color: white;
  font-size: medium;
  background-color: #2c2c2c;
  margin-right: 5px;
  border: 1px solid;
  border-color: #363636;
  border-radius: 18px;
  padding: 5px 8px;
  overflow: hidden;
  resize: none;
}
.chat .chat-container .chat-footer .chat-footer-input:focus {
  outline: 1px solid;
  outline-color: #454545;
  border: 1px solid;
  border-color: #454545;
}
.chat .chat-container .chat-footer .chat-error-tooltip {
  color: white;
  font-size: small;
  background-color: #d35d5d;
  border-radius: 5px;
  border: 1px solid #db5555;
  position: absolute;
  padding: 4px 8px;
  z-index: 10;
  top: -25px;
  pointer-events: none;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
  animation: tooltip-appear 0.35s ease 0s 1;
}
.chat .chat-container .chat-footer .chat-error-tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #db5555 transparent transparent transparent;
}
.chat .chat-container .chat-footer .chat-footer-submit {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0px;
  background-image: url("../../public/static/images/icons/send_message_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.chat .chat-container .chat-footer .chat-footer-submit:hover {
  background-color: #2d2d2d;
}

.prev-moves {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 350px);
  width: 100%;
}
.prev-moves .prev-moves-container {
  background-color: rgba(0, 0, 0, 0.13);
  height: 80%;
  width: 85%;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid;
  border-color: #363636;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.prev-moves .prev-moves-container .prev-moves-header {
  font-size: large;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-bottom: 1px solid;
  border-color: #363636;
}
.prev-moves .prev-moves-container .prev-moves-content {
  height: calc(50vh - 50px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.prev-moves .prev-moves-container .prev-moves-content .move {
  list-style-type: decimal;
}
.prev-moves .prev-moves-container .prev-moves-content .move .prev-move {
  cursor: pointer;
  color: white;
  font-weight: 600;
  border: 0px;
  background-color: rgba(40, 40, 40, 0.9411764706);
  border-radius: 5px;
  text-align: left;
  width: 80px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.prev-moves .prev-moves-container .prev-moves-content .move .prev-move:hover {
  background-color: rgba(44, 44, 44, 0.9411764706);
}
.prev-moves .prev-moves-container .prev-moves-content .move .current-move {
  background-color: rgba(48, 48, 48, 0.9411764706);
}
.prev-moves .prev-moves-container .prev-moves-content .move .current-move:hover {
  background-color: rgba(48, 48, 48, 0.9411764706);
}
.prev-moves .prev-moves-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}
.prev-moves .prev-moves-buttons-container .prev-moves-button {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 90px;
  background-color: #252525;
  border-radius: 5px;
  border: 1px solid;
  border-color: #363636;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.prev-moves .prev-moves-buttons-container .prev-moves-button:hover {
  background-color: #272727;
}

.game-sidebar {
  background-color: #2c2c2c;
  border-left: 1px solid;
  border-color: #363636;
  height: 100%;
  width: 350px;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.15);
}

.promotion-menu {
  display: grid;
  position: absolute;
  grid-template-rows: repeat(2, 115px);
  grid-template-columns: repeat(2, 115px);
  border-radius: 50%;
  box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
  transform: rotate(45deg);
  animation: promotion-appear 0.5s ease-out 0s 1;
}
@keyframes promotion-appear {
  from {
    opacity: 0;
    transform: rotate(45deg) scale(0);
  }
  to {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
}
.promotion-menu .promotion-exit-button {
  cursor: pointer;
  position: absolute;
  align-self: center;
  justify-self: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(58, 58, 58, 0.9725490196);
  background-image: url("../../public/static/images/icons/promotion_exit_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.4) inset;
  border: 1px solid;
  border-color: #303030;
  transform: rotate(-45deg);
  z-index: 5;
}
.promotion-menu .promotion-exit-button:hover {
  background-color: rgba(51, 51, 51, 0.9725490196);
}
.promotion-menu .promotion-q-field {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #3a3a3a;
  border-radius: 100% 0px 0px 0px;
}
.promotion-menu .promotion-q-field .promotion-q-piece {
  background-size: 75px 75px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  transform: rotate(-45deg);
  border: 0px;
  background-color: transparent;
  margin-top: 10px;
  margin-left: 10px;
}
.promotion-menu .promotion-r-field {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #3a3a3a;
  border-radius: 0px 100% 0px 0px;
}
.promotion-menu .promotion-r-field .promotion-r-piece {
  background-size: 75px 75px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  transform: rotate(-45deg);
  border: 0px;
  background-color: transparent;
  margin-right: 10px;
}
.promotion-menu .promotion-b-field {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #3a3a3a;
  border-radius: 0px 0px 0px 100%;
}
.promotion-menu .promotion-b-field .promotion-b-piece {
  background-size: 75px 75px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  transform: rotate(-45deg);
  border: 0px;
  background-color: transparent;
  margin-bottom: 10px;
}
.promotion-menu .promotion-n-field {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #3a3a3a;
  border-radius: 0px 0px 100% 0px;
}
.promotion-menu .promotion-n-field .promotion-n-piece {
  background-size: 75px 75px;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  transform: rotate(-45deg);
  border: 0px;
  background-color: transparent;
  margin-bottom: 10px;
  margin-right: 10px;
}
.promotion-menu .promotion-field-b {
  background-color: rgba(255, 255, 255, 0.9725490196);
}
.promotion-menu .promotion-field-b:hover {
  background-color: rgba(240, 240, 240, 0.9725490196);
}
.promotion-menu .promotion-field-w {
  background-color: rgba(58, 58, 58, 0.9725490196);
}
.promotion-menu .promotion-field-w:hover {
  background-color: rgba(50, 50, 50, 0.9725490196);
}

.pieces {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.piece {
  cursor: grab;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  z-index: 5;
  width: 90px;
  height: 90px;
}
.piece:active {
  cursor: grabbing;
}

.highlight {
  position: absolute;
  background-color: rgba(255, 255, 51, 0.5);
  z-index: 1;
  width: 90px;
  height: 90px;
}

.valid-move {
  position: absolute;
  background: radial-gradient(rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.5) 22%, transparent 23%);
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.mark {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  width: 76px;
  height: 76px;
  border: 7px solid;
  border-color: rgba(51, 51, 51, 0.5);
}

.bp {
  background-image: url("../../public/static/images/chess_pieces/black_pawn.png");
}

.br {
  background-image: url("../../public/static/images/chess_pieces/black_rook.png");
}

.bn {
  background-image: url("../../public/static/images/chess_pieces/black_knight.png");
}

.bb {
  background-image: url("../../public/static/images/chess_pieces/black_bishop.png");
}

.bq {
  background-image: url("../../public/static/images/chess_pieces/black_queen.png");
}

.bk {
  background-image: url("../../public/static/images/chess_pieces/black_king.png");
}

.wp {
  background-image: url("../../public/static/images/chess_pieces/white_pawn.png");
}

.wr {
  background-image: url("../../public/static/images/chess_pieces/white_rook.png");
}

.wn {
  background-image: url("../../public/static/images/chess_pieces/white_knight.png");
}

.wb {
  background-image: url("../../public/static/images/chess_pieces/white_bishop.png");
}

.wq {
  background-image: url("../../public/static/images/chess_pieces/white_queen.png");
}

.wk {
  background-image: url("../../public/static/images/chess_pieces/white_king.png");
}

.p-00 {
  transform: translate(0%, 0%);
}

.p-01 {
  transform: translate(100%, 0%);
}

.p-02 {
  transform: translate(200%, 0%);
}

.p-03 {
  transform: translate(300%, 0%);
}

.p-04 {
  transform: translate(400%, 0%);
}

.p-05 {
  transform: translate(500%, 0%);
}

.p-06 {
  transform: translate(600%, 0%);
}

.p-07 {
  transform: translate(700%, 0%);
}

.p-10 {
  transform: translate(0%, 100%);
}

.p-11 {
  transform: translate(100%, 100%);
}

.p-12 {
  transform: translate(200%, 100%);
}

.p-13 {
  transform: translate(300%, 100%);
}

.p-14 {
  transform: translate(400%, 100%);
}

.p-15 {
  transform: translate(500%, 100%);
}

.p-16 {
  transform: translate(600%, 100%);
}

.p-17 {
  transform: translate(700%, 100%);
}

.p-20 {
  transform: translate(0%, 200%);
}

.p-21 {
  transform: translate(100%, 200%);
}

.p-22 {
  transform: translate(200%, 200%);
}

.p-23 {
  transform: translate(300%, 200%);
}

.p-24 {
  transform: translate(400%, 200%);
}

.p-25 {
  transform: translate(500%, 200%);
}

.p-26 {
  transform: translate(600%, 200%);
}

.p-27 {
  transform: translate(700%, 200%);
}

.p-30 {
  transform: translate(0%, 300%);
}

.p-31 {
  transform: translate(100%, 300%);
}

.p-32 {
  transform: translate(200%, 300%);
}

.p-33 {
  transform: translate(300%, 300%);
}

.p-34 {
  transform: translate(400%, 300%);
}

.p-35 {
  transform: translate(500%, 300%);
}

.p-36 {
  transform: translate(600%, 300%);
}

.p-37 {
  transform: translate(700%, 300%);
}

.p-40 {
  transform: translate(0%, 400%);
}

.p-41 {
  transform: translate(100%, 400%);
}

.p-42 {
  transform: translate(200%, 400%);
}

.p-43 {
  transform: translate(300%, 400%);
}

.p-44 {
  transform: translate(400%, 400%);
}

.p-45 {
  transform: translate(500%, 400%);
}

.p-46 {
  transform: translate(600%, 400%);
}

.p-47 {
  transform: translate(700%, 400%);
}

.p-50 {
  transform: translate(0%, 500%);
}

.p-51 {
  transform: translate(100%, 500%);
}

.p-52 {
  transform: translate(200%, 500%);
}

.p-53 {
  transform: translate(300%, 500%);
}

.p-54 {
  transform: translate(400%, 500%);
}

.p-55 {
  transform: translate(500%, 500%);
}

.p-56 {
  transform: translate(600%, 500%);
}

.p-57 {
  transform: translate(700%, 500%);
}

.p-60 {
  transform: translate(0%, 600%);
}

.p-61 {
  transform: translate(100%, 600%);
}

.p-62 {
  transform: translate(200%, 600%);
}

.p-63 {
  transform: translate(300%, 600%);
}

.p-64 {
  transform: translate(400%, 600%);
}

.p-65 {
  transform: translate(500%, 600%);
}

.p-66 {
  transform: translate(600%, 600%);
}

.p-67 {
  transform: translate(700%, 600%);
}

.p-70 {
  transform: translate(0%, 700%);
}

.p-71 {
  transform: translate(100%, 700%);
}

.p-72 {
  transform: translate(200%, 700%);
}

.p-73 {
  transform: translate(300%, 700%);
}

.p-74 {
  transform: translate(400%, 700%);
}

.p-75 {
  transform: translate(500%, 700%);
}

.p-76 {
  transform: translate(600%, 700%);
}

.p-77 {
  transform: translate(700%, 700%);
}

.game-result-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #3d3d3d;
  border: 1px solid #535353;
  border-radius: 10px;
  padding: 25px 0px;
  width: 250px;
  height: 210px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 25;
  animation: scale-animation 0.75s ease 0s 1;
}
.game-result-alert .game-result-exit-button {
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 5px;
  right: 5px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-image: url("../../public/static/images/icons/close_icon.png");
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  border: 0px;
}
.game-result-alert .game-result-exit-button:hover {
  filter: brightness(95%);
}
.game-result-alert .game-result-header {
  font-size: large;
  font-weight: 700;
}
.game-result-alert .game-result-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.game-result-alert .game-result-body .game-result-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 85px;
  height: 85px;
}
.game-result-alert .game-result-body .game-result-user .game-result-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.game-result-alert .game-result-body .game-result-user .game-result-winner {
  animation: win-circle 1.5s ease 0.15s 1 forwards;
}
@keyframes win-circle {
  0% {
    outline: 2px solid;
    outline-color: white;
  }
  100% {
    outline: 2px solid;
    outline-color: rgb(19, 160, 19);
  }
}
.game-result-alert .game-result-body .game-result-user .game-result-username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  width: 100%;
}
.game-result-alert .game-result-footer {
  display: flex;
  align-items: center;
  height: 35px;
}
.game-result-alert .game-result-footer .game-result-exit-game-button {
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  color: white;
  border: 1px solid rgb(6, 141, 6);
  background-color: rgb(65, 161, 65);
  border-radius: 25px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.7s;
}
.game-result-alert .game-result-footer .game-result-exit-game-button:hover {
  background: rgb(59, 146, 59) radial-gradient(circle, transparent 1%, rgb(62, 151, 62) 1%) center/15000%;
}
.game-result-alert .game-result-footer .game-result-exit-game-button:active {
  background-color: rgb(91, 207, 91);
  background-size: 100%;
  transition: all 0s;
}

.surrender-menu {
  position: absolute;
  background-color: #3d3d3d;
  border: 1px solid #535353;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 25;
  padding: 10px;
  animation: scale-animation 0.5s ease 0s 1;
}
.surrender-menu .surrender-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}
.surrender-menu .surrender-buttons-container .surrender-yes-button {
  cursor: pointer;
  height: 25px;
  width: 55px;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(65, 173, 65);
  border: 1px solid rgb(6, 158, 6);
  margin-right: 5px;
}
.surrender-menu .surrender-buttons-container .surrender-yes-button:hover {
  background-color: rgb(60, 158, 60);
  border-color: rgb(6, 143, 6);
}
.surrender-menu .surrender-buttons-container .surrender-no-button {
  cursor: pointer;
  height: 25px;
  width: 55px;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(207, 56, 56);
  border: 1px solid rgb(194, 36, 36);
}
.surrender-menu .surrender-buttons-container .surrender-no-button:hover {
  background-color: rgb(196, 53, 53);
  border: 1px solid rgb(183, 33, 33);
}

.chess-board {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #262626;
  overflow: hidden;
}
.chess-board .disable-board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.chess-board .board-cols {
  font-weight: 500;
  font-size: large;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 90px);
  bottom: 0px;
  left: 75px;
}
.chess-board .board-rows {
  font-weight: 500;
  font-size: large;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(8, 90px);
  top: 0px;
  left: 2px;
}
.chess-board .black-letter {
  color: rgb(119, 153, 84);
}
.chess-board .white-letter {
  color: rgb(233, 237, 204);
}
.chess-board .board-squares {
  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(8, 90px);
}
.chess-board .board-squares .black-square {
  background-color: rgb(119, 153, 84);
  border-color: rgb(208, 219, 195);
}
.chess-board .board-squares .white-square {
  background-color: rgb(233, 237, 204);
  border-color: rgb(247, 249, 237);
}

.game-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.game-container .game-content {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: #262626;
  border-radius: 10px;
  height: 810px;
  width: 720px;
  overflow: hidden;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}
.game-container .game-content .game-info {
  font-size: large;
  display: flex;
  align-items: center;
  width: calc(100% - 5px - 5px);
  height: 45px;
  padding: 0px 5px 0px 5px;
  background-color: #2f2f2f;
}
.game-container .game-content .game-info .game-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #494949;
  color: #b3b3b3;
  border: 1px solid;
  border-color: #606060;
  width: 55px;
  height: 30px;
  border-radius: 5px;
  margin-left: auto;
}
.game-container .game-content .game-info .game-timer-on {
  background-color: #585858;
  color: #bababa;
  border: 1px solid;
  border-color: #a6a6a6;
}
.game-container .game-content .game-info .game-user-avatar {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.game-container .game-content .game-info .game-user-rating {
  color: grey;
  margin-left: 5px;
}
.game-container .game-content .game-info .player-info {
  font-size: medium;
}
.game-container .game-content .game-info .game-points {
  color: rgb(109, 109, 109);
  height: 21px;
}

.play-page {
  display: flex;
  flex-grow: 1;
}
.play-page .play-page-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.play-page .play-page-container .matchmaking {
  position: relative;
  font-weight: 500;
  background-color: rgb(65, 161, 65);
  border: 1px solid rgb(6, 141, 6);
  padding: 15px 22px 15px 15px;
  border-radius: 15px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.play-page .play-page-container .matchmaking::before {
  position: absolute;
  right: 17px;
  width: 5px;
  content: "";
  animation: dots 3s 0s infinite;
}
@keyframes dots {
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  99% {
    content: "...";
  }
}

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
}
.form-page .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  width: 400px;
  background-color: #303030;
  border: 1px solid;
  border-radius: 25px;
  border-color: #363636;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
}
.form-page .form-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-page .form-container .form .form-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  height: 76px;
  width: 100%;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
.form-page .form-container .form .form-input-container .form-input {
  color: white;
  background-color: #313131;
  border: 1px solid;
  border-radius: 25px;
  padding: 8px;
  width: 60%;
  margin-top: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #363636;
}
.form-page .form-container .form .form-input-container .form-input:focus {
  outline: 1px solid;
  border: 1px solid;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.form-page .form-container .form .form-input-container .form-input:focus {
  outline-color: #454545;
  border-color: #454545;
}
.form-page .form-container .form .form-input-container .form-input-tooltip {
  color: white;
  background-color: #292929;
  font-size: small;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid;
  border-color: #363636;
  position: absolute;
  padding: 4px 8px;
  z-index: 10;
  bottom: 55px;
  pointer-events: none;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);
  animation: tooltip-appear 0.35s ease 0s 1;
}
.form-page .form-container .form .form-input-container .form-input-tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #363636 transparent transparent transparent;
}
.form-page .form-container .form .form-buttons {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.form-page .form-container .form .form-buttons .form-link-button {
  color: rgb(69, 146, 233);
  padding: 3px 5px;
  border-radius: 5px;
}
.form-page .form-container .form .form-buttons .form-link-button:hover {
  background-color: rgba(255, 255, 255, 0.02);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.form-page .form-container .form .form-buttons .form-submit-button {
  cursor: pointer;
  color: white;
  background-color: #313131;
  border: 1px solid;
  border-color: #454545;
  border-radius: 25px;
  padding: 8px 16px;
  font-size: 16px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.form-page .form-container .form .form-buttons .form-submit-button:hover {
  background-color: #353535;
}
.form-page .form-container .form .invalid-field {
  display: flex;
  justify-content: center;
  font-size: small;
  color: rgb(221, 16, 16);
}
.form-page .form-container .form .invalid-form-input {
  color: rgb(221, 16, 16);
  background-color: #313131;
  border: 1px solid;
  border-radius: 25px;
  padding: 8px;
  width: 60%;
  margin-top: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-color: rgb(221, 16, 16);
}
.form-page .form-container .form .invalid-form-input:focus {
  outline: 1px solid;
  border: 1px solid;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.form-page .form-container .form .invalid-form-input:focus {
  outline-color: rgb(221, 16, 16);
  border-color: rgb(221, 16, 16);
}
.form-page .form-container .form .form-checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 38px;
  width: 100%;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

.ranking-page {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.ranking-page .ranking-container {
  width: 35%;
  border: 1px solid #363636;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
}
.ranking-page .ranking-container .ranking-table {
  width: 100%;
  background-color: #2e2e2e;
  border-collapse: collapse;
}
.ranking-page .ranking-container .ranking-table th, .ranking-page .ranking-container .ranking-table td {
  border: 1px solid;
  border-color: transparent #363636 #363636 transparent;
  text-align: center;
  padding: 3px 0px;
}
.ranking-page .ranking-container .ranking-table th {
  background-color: #2c2c2c;
  padding: 5px 0px;
}
.ranking-page .ranking-container .ranking-table tr:nth-child(even) td {
  background-color: #2d2d2d;
}
.ranking-page .ranking-container .ranking-table tr:hover, .ranking-page .ranking-container .ranking-table tr:nth-child(even):hover td {
  background-color: #303030;
}
.ranking-page .ranking-container .ranking-table td:last-child, .ranking-page .ranking-container .ranking-table th:last-child {
  border-color: transparent transparent #363636 transparent;
}
.ranking-page .ranking-container .ranking-table tr:last-child td {
  border-color: transparent #363636 transparent transparent;
}
.ranking-page .ranking-container .ranking-table tr:last-child td:last-child {
  border: 0px;
}

.app {
  display: flex;
}

body {
  background-color: #333333;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.un-draggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*# sourceMappingURL=main.css.map */
