@import 'core/global_animations';
@import 'core/navigation';
@import 'core/authentication_alert';
@import 'core/tooltip';
@import 'core/scrollbar';
@import 'pages/page404';
@import 'pages/play';
@import 'forms/form';
@import 'pages/ranking';

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

.app {
  display: flex;
}

body {
  background-color: #333333;
  color: white;
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

textarea {
  font-family: $font-family;
}

.un-draggable {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
