.nav {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  background-color: #2c2c2c;
  border-right: 1px solid;
  border-color: #363636;
  height: 100vh;
  width: 20vh;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.15);
}
.nav .nav-logo {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
}
.nav .nav-link {
  display: flex;
  width: 100%;
  height: 4vh;
  justify-content: center;
  align-items: center;
}
.nav .nav-link:hover {
  background-color: #262626;
}
.nav .nav-footer {
  display: flex;
  border-top: 1px solid;
  border-color: #363636;
  position: absolute;
  align-items: center;
  bottom: 0px;
  height: 5%;
  width: 100%;
  overflow: hidden;
}
.nav .nav-footer .nav-footer-user {
  display: flex;
  position: relative;
  text-align: left;
  align-items: center;
  width: calc(100% - 25px - 15px);
  margin-left: 10px;
  overflow: hidden;
}
.nav .nav-footer .nav-footer-user .nav-footer-avatar {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.nav .nav-footer .nav-footer-user .nav-footer-username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.nav .nav-footer .nav-footer-logout-button {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: 0px;
  background-image: url("../../public/static/images/icons/logout_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-size: 20px;
  right: 5px;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.error-page .error-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-page .error-box .error-header {
  font-family: "Arial Black", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 160px;
}
.error-page .error-box .error-content {
  font-size: x-large;
  margin-bottom: 15px;
}
.error-page .error-box .error-home-button {
  background-color: rgb(3, 121, 3);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: large;
}

.pieces {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.piece {
  cursor: grab;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  width: 90px;
  height: 90px;
}
.piece:active {
  cursor: grabbing;
}

.bp {
  background-image: url("../../public/static/images/chess_pieces/black_pawn.png");
}

.br {
  background-image: url("../../public/static/images/chess_pieces/black_rook.png");
}

.bn {
  background-image: url("../../public/static/images/chess_pieces/black_knight.png");
}

.bb {
  background-image: url("../../public/static/images/chess_pieces/black_bishop.png");
}

.bq {
  background-image: url("../../public/static/images/chess_pieces/black_queen.png");
}

.bk {
  background-image: url("../../public/static/images/chess_pieces/black_king.png");
}

.wp {
  background-image: url("../../public/static/images/chess_pieces/white_pawn.png");
}

.wr {
  background-image: url("../../public/static/images/chess_pieces/white_rook.png");
}

.wn {
  background-image: url("../../public/static/images/chess_pieces/white_knight.png");
}

.wb {
  background-image: url("../../public/static/images/chess_pieces/white_bishop.png");
}

.wq {
  background-image: url("../../public/static/images/chess_pieces/white_queen.png");
}

.wk {
  background-image: url("../../public/static/images/chess_pieces/white_king.png");
}

.p-00 {
  transform: translate(0%, 0%);
}

.p-01 {
  transform: translate(100%, 0%);
}

.p-02 {
  transform: translate(200%, 0%);
}

.p-03 {
  transform: translate(300%, 0%);
}

.p-04 {
  transform: translate(400%, 0%);
}

.p-05 {
  transform: translate(500%, 0%);
}

.p-06 {
  transform: translate(600%, 0%);
}

.p-07 {
  transform: translate(700%, 0%);
}

.p-10 {
  transform: translate(0%, 100%);
}

.p-11 {
  transform: translate(100%, 100%);
}

.p-12 {
  transform: translate(200%, 100%);
}

.p-13 {
  transform: translate(300%, 100%);
}

.p-14 {
  transform: translate(400%, 100%);
}

.p-15 {
  transform: translate(500%, 100%);
}

.p-16 {
  transform: translate(600%, 100%);
}

.p-17 {
  transform: translate(700%, 100%);
}

.p-20 {
  transform: translate(0%, 200%);
}

.p-21 {
  transform: translate(100%, 200%);
}

.p-22 {
  transform: translate(200%, 200%);
}

.p-23 {
  transform: translate(300%, 200%);
}

.p-24 {
  transform: translate(400%, 200%);
}

.p-25 {
  transform: translate(500%, 200%);
}

.p-26 {
  transform: translate(600%, 200%);
}

.p-27 {
  transform: translate(700%, 200%);
}

.p-30 {
  transform: translate(0%, 300%);
}

.p-31 {
  transform: translate(100%, 300%);
}

.p-32 {
  transform: translate(200%, 300%);
}

.p-33 {
  transform: translate(300%, 300%);
}

.p-34 {
  transform: translate(400%, 300%);
}

.p-35 {
  transform: translate(500%, 300%);
}

.p-36 {
  transform: translate(600%, 300%);
}

.p-37 {
  transform: translate(700%, 300%);
}

.p-40 {
  transform: translate(0%, 400%);
}

.p-41 {
  transform: translate(100%, 400%);
}

.p-42 {
  transform: translate(200%, 400%);
}

.p-43 {
  transform: translate(300%, 400%);
}

.p-44 {
  transform: translate(400%, 400%);
}

.p-45 {
  transform: translate(500%, 400%);
}

.p-46 {
  transform: translate(600%, 400%);
}

.p-47 {
  transform: translate(700%, 400%);
}

.p-50 {
  transform: translate(0%, 500%);
}

.p-51 {
  transform: translate(100%, 500%);
}

.p-52 {
  transform: translate(200%, 500%);
}

.p-53 {
  transform: translate(300%, 500%);
}

.p-54 {
  transform: translate(400%, 500%);
}

.p-55 {
  transform: translate(500%, 500%);
}

.p-56 {
  transform: translate(600%, 500%);
}

.p-57 {
  transform: translate(700%, 500%);
}

.p-60 {
  transform: translate(0%, 600%);
}

.p-61 {
  transform: translate(100%, 600%);
}

.p-62 {
  transform: translate(200%, 600%);
}

.p-63 {
  transform: translate(300%, 600%);
}

.p-64 {
  transform: translate(400%, 600%);
}

.p-65 {
  transform: translate(500%, 600%);
}

.p-66 {
  transform: translate(600%, 600%);
}

.p-67 {
  transform: translate(700%, 600%);
}

.p-70 {
  transform: translate(0%, 700%);
}

.p-71 {
  transform: translate(100%, 700%);
}

.p-72 {
  transform: translate(200%, 700%);
}

.p-73 {
  transform: translate(300%, 700%);
}

.p-74 {
  transform: translate(400%, 700%);
}

.p-75 {
  transform: translate(500%, 700%);
}

.p-76 {
  transform: translate(600%, 700%);
}

.p-77 {
  transform: translate(700%, 700%);
}

.chess-board {
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #262626;
  overflow: hidden;
}
.chess-board .disable-board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.chess-board .disable-board .disable-board-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: rgb(13, 146, 13);
  width: 175px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}
.chess-board .board-cols {
  font-weight: 500;
  font-size: large;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(8, 90px);
  bottom: 0px;
  left: 75px;
}
.chess-board .board-rows {
  font-weight: 500;
  font-size: large;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(8, 90px);
  top: 0px;
  left: 2px;
}
.chess-board .black-letter {
  color: rgb(119, 153, 84);
}
.chess-board .white-letter {
  color: rgb(233, 237, 204);
}
.chess-board .board-squares {
  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(8, 90px);
}
.chess-board .board-squares .black-square {
  background-color: rgb(119, 153, 84);
  border-color: rgb(208, 219, 195);
}
.chess-board .board-squares .white-square {
  background-color: rgb(233, 237, 204);
  border-color: rgb(247, 249, 237);
}

.game-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.game-container .game-content {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: #262626;
  border-radius: 10px;
  height: 800px;
  width: 720px;
  overflow: hidden;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}
.game-container .game-content .game-sidebar {
  font-size: large;
  display: flex;
  align-items: center;
  width: calc(100% - 5px - 5px);
  height: 40px;
  padding: 0px 5px 0px 5px;
  background-color: #2f2f2f;
}
.game-container .game-content .game-sidebar .game-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 30px;
  background-color: #5c5c5c;
  border-radius: 5px;
  margin-left: auto;
}
.game-container .game-content .game-sidebar .game-user-avatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.game-container .game-content .game-sidebar .game-user-rating {
  color: grey;
  margin-left: 5px;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}
.chat .chat-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  height: 90%;
  width: 85%;
  border-radius: 25px;
  border: 1px solid;
  border-color: #363636;
  overflow: hidden;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.chat .chat-container .chat-header {
  font-size: large;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  border-bottom: 1px solid;
  border-color: #363636;
}
.chat .chat-container .chat-messages {
  width: 100%;
  height: 203px;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-all;
}
.chat .chat-container .chat-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0px;
  border-top: 1px solid;
  border-color: #363636;
  background-color: #262626;
}
.chat .chat-container .chat-footer .chat-footer-input {
  color: white;
  font-size: medium;
  background-color: #2c2c2c;
  margin-right: 5px;
  border: 1px solid;
  border-color: #363636;
  border-radius: 25px;
  padding: 5px;
}
.chat .chat-container .chat-footer .chat-footer-input:focus {
  outline: 1px solid;
  outline-color: #454545;
  border: 1px solid;
  border-color: #454545;
}
.chat .chat-container .chat-footer .chat-footer-submit {
  cursor: pointer;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0px;
  background-image: url("../../public/static/images/icons/send_message_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.chat .chat-container .chat-footer .chat-footer-submit:hover {
  background-color: #2d2d2d;
}

.play-online-page-sidebar {
  background-color: #2c2c2c;
  border-left: 1px solid;
  border-color: #363636;
  height: 100%;
  width: 350px;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.15);
}
.play-online-page-sidebar .past-moves {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 350px);
  width: 100%;
}
.play-online-page-sidebar .past-moves .past-moves-container {
  background-color: rgba(0, 0, 0, 0.13);
  height: 80%;
  width: 85%;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid;
  border-color: #363636;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.play-online-page-sidebar .past-moves .past-moves-container .past-moves-header {
  font-size: large;
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  border-bottom: 1px solid;
  border-color: #363636;
}
.play-online-page-sidebar .past-moves .past-moves-container .past-moves-content {
  height: calc(50vh - 50px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.play-online-page-sidebar .past-moves .past-moves-container .past-moves-content .move {
  list-style-type: decimal;
}
.play-online-page-sidebar .past-moves .play-online-sidebar-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
}
.play-online-page-sidebar .past-moves .play-online-sidebar-buttons-container .play-online-sidebar-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 90px;
  background-color: #252525;
  border-radius: 5px;
  border: 1px solid;
  border-color: #363636;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.play-online-page-sidebar .past-moves .play-online-sidebar-buttons-container .play-online-sidebar-button:hover {
  background-color: #272727;
}

.play-page {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.play-page .play-page-sidebar {
  display: flex;
  flex-direction: reverse;
  align-items: center;
  border-left: 1px solid;
  border-color: #363636;
  background-color: #2c2c2c;
  height: 100%;
  width: 350px;
  box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.15);
}
.play-page .play-page-sidebar .sidebar-play-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 6vh;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(65, 161, 65);
  border-radius: 15px;
  border-bottom: 4px solid;
  border-color: rgb(6, 141, 6);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
}
.play-page .play-page-sidebar .sidebar-play-button:hover {
  background-color: rgb(62, 151, 62);
  border-color: rgb(6, 133, 6);
}
.play-page .play-page-sidebar .sidebar-play-button .sidebar-play-button-title {
  font-size: large;
  font-weight: 700;
}
.play-page .play-page-sidebar .sidebar-play-button .sidebar-play-button-content {
  font-size: small;
}

.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
}
.form-page .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  width: 400px;
  background-color: #303030;
  border: 1px solid;
  border-radius: 25px;
  border-color: #363636;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.2);
}
.form-page .form-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-page .form-container .form .form-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  height: 76px;
  width: 100%;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
.form-page .form-container .form .form-input-container .form-input {
  color: white;
  background-color: #313131;
  border: 1px solid;
  border-radius: 25px;
  padding: 8px;
  width: 60%;
  margin-top: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-color: #363636;
}
.form-page .form-container .form .form-input-container .form-input:focus {
  outline: 1px solid;
  border: 1px solid;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.form-page .form-container .form .form-input-container .form-input:focus {
  outline-color: #454545;
  border-color: #454545;
}
.form-page .form-container .form .form-submit-button {
  cursor: pointer;
  color: white;
  background-color: #313131;
  border: 1px solid;
  border-color: #454545;
  border-radius: 25px;
  padding: 8px 16px;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}
.form-page .form-container .form .form-submit-button:hover {
  background-color: #353535;
}
.form-page .form-container .form .invalid-field {
  display: flex;
  justify-content: center;
  font-size: small;
  color: rgb(221, 16, 16);
}
.form-page .form-container .form .invalid-form-input {
  color: rgb(221, 16, 16);
  background-color: #313131;
  border: 1px solid;
  border-radius: 25px;
  padding: 8px;
  width: 60%;
  margin-top: 5px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-color: rgb(221, 16, 16);
}
.form-page .form-container .form .invalid-form-input:focus {
  outline: 1px solid;
  border: 1px solid;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
.form-page .form-container .form .invalid-form-input:focus {
  outline-color: rgb(221, 16, 16);
  border-color: rgb(221, 16, 16);
}
.form-page .form-container .form .form-checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 38px;
  width: 100%;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

.app {
  display: flex;
}

body {
  background-color: #333333;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=main.css.map */
