$invalid-field-color: rgb(221, 16, 16);

@mixin form-input-mixin {
    background-color: #313131;
    border: 1px solid;
    border-radius: 25px;
    padding: 8px;
    width: 60%;
    margin-top: 5px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.20);

    &:focus {
        outline: 1px solid;
        border: 1px solid;
        box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.20);
    }
}

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vh;

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0px;
        width: 400px;
        background-color: #303030;
        border: 1px solid;
        border-radius: 25px;
        border-color: #363636;
        box-shadow: 5px 5px 6px rgb(0, 0, 0, 0.20);

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .form-input-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 10px;
                height: 76px;
                width: 100%;
                text-shadow: 5px 5px 6px rgb(0, 0, 0, 0.30);
            
                .form-input {
                    color: white;
                    @include form-input-mixin;
                    border-color: #363636;
            
                    &:focus {
                        outline-color: #454545;
                        border-color: #454545;
                    }
                }
            }

            .form-submit-button {
                cursor: pointer;
                color: white;
                background-color: #313131;
                border: 1px solid;
                border-color: #454545;
                border-radius: 25px;
                padding: 8px 16px;
                margin-top: 20px;
                font-size: 16px;
                box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.20);
                text-shadow: 3px 3px 6px rgb(0, 0, 0, 0.30);
            
                &:hover {
                    background-color: #353535;
                }
            }

            .invalid-field {
                display: flex;
                justify-content: center;
                font-size: small;
                color: $invalid-field-color;
            }
            
            .invalid-form-input {
                color: $invalid-field-color;
                @include form-input-mixin;
                border-color: $invalid-field-color;
            
                &:focus {
                    outline-color: $invalid-field-color;
                    border-color: $invalid-field-color;
                }
            }

            .form-checkbox-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 38px;
                width: 100%;
                text-shadow: 5px 5px 6px rgb(0, 0, 0, 0.30);
            }            
        }
    }
}