$invalid-field-color: rgb(221, 16, 16);

@mixin form-input-mixin {
    background-color: #313131;
    border: 1px solid;
    border-radius: 25px;
    padding: 8px;
    width: 60%;
    margin-top: 5px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.20);

    &:focus {
        outline: 1px solid;
        border: 1px solid;
        box-shadow: 3px 3px 6px rgb(0, 0, 0, 0.20);
    }
}

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100vh;

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        width: 400px;
        background-color: #303030;
        border: 1px solid;
        border-radius: 25px;
        border-color: #363636;
        box-shadow: 5px 5px 6px rgb(0, 0, 0, 0.20);

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            .form-header {
                font-size: x-large;
                margin-bottom: 20px;
            }

            .form-input-container {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 10px;
                height: 76px;
                width: 100%;
                text-shadow: 5px 5px 6px rgb(0, 0, 0, 0.30);
            
                .form-input {
                    color: white;
                    @include form-input-mixin;
                    border-color: #363636;
            
                    &:focus {
                        outline-color: #454545;
                        border-color: #454545;
                    }
                }

                .form-input-tooltip {
                    color: white;
                    background-color: #292929;
                    font-size: small;
                    font-weight: 500;
                    border-radius: 5px;
                    border: 1px solid;
                    border-color: #363636;
                    position: absolute;
                    padding: 4px 8px;
                    z-index: 10;
                    bottom: 55px;
                    pointer-events: none;
                    box-shadow: 4px 4px 6px 0px rgb(0, 0, 0, 0.1);
                    animation: scale-animation 0.35s ease 0s 1;
                
                    &::after {
                        content: " ";
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        margin-left: -5px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: #363636 transparent transparent transparent;
                    }
                }
            }

            .form-buttons {
                display: flex;
                width: 60%;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
            }

            .form-link-button {
                color: rgb(69, 146, 233);
                padding: 3px 5px;
                border-radius: 5px;

                &:hover {
                    background-color: rgb(255, 255, 255, 0.02);
                    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.1);
                }
            }

            .form-submit-button {
                cursor: pointer;
                color: white;
                background-color: #313131;
                border: 1px solid;
                border-color: #454545;
                border-radius: 25px;
                padding: 8px 16px;
                font-size: 16px;
                box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.20);
                text-shadow: 3px 3px 6px rgb(0, 0, 0, 0.30);

                &:hover {
                    background-color: #353535;
                }
            }

            .invalid-field {
                display: flex;
                justify-content: center;
                font-size: small;
                color: $invalid-field-color;
            }
            
            .invalid-form-input {
                color: $invalid-field-color;
                @include form-input-mixin;
                border-color: $invalid-field-color;
            
                &:focus {
                    outline-color: $invalid-field-color;
                    border-color: $invalid-field-color;
                }
            }

            .form-checkbox-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 38px;
                width: 100%;
                text-shadow: 5px 5px 6px rgb(0, 0, 0, 0.30);
            }            
        }
    }
}
