@import '../game/game';
@import '../sidebars/play_sidebar';
@import 'play_online';

.play-page {
    display: flex;
    position: relative;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;

    .matchmaking {
        position: relative;
        margin: 0px calc(50vw - 20vh - 351px + 100px);
        font-weight: 500;
        background-color: #323232;
        border: 1px solid;
        border-color: #383838;
        padding: 15px 22px 15px 15px;
        border-radius: 25px;
        box-shadow: 4px 4px 6px rgb(0, 0, 0, 0.20);

        &::before {
            position: absolute;
            right: 17px;
            width: 5px;
            content: '';
            animation: dots 3s 0s infinite;

            @keyframes dots {
                33% {
                    content: '.';
                }
                66% {
                    content: '..';
                }
                99% {
                    content: '...';
                }
            }
        }
    }
}
