@import 'board';

.game-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;

    .game-content {
        display: flex;
        flex-direction: column;
        border: 1px solid;
        border-color: #262626;
        border-radius: 10px;
        height: 810px;
        width: 720px;
        overflow: hidden;
        box-shadow: 6px 6px 8px rgb(0, 0, 0, 0.20);

        .game-info {
            font-size: large;
            display: flex;
            align-items: center;
            width: calc(100% - 5px - 5px);
            height: 45px;
            padding: 0px 5px 0px 5px;
            background-color: #2f2f2f;
        
            .game-timer {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #494949;
                color: #b3b3b3;
                border: 1px solid;
                border-color: #606060;
                width: 55px;
                height: 30px;
                border-radius: 5px;
                margin-left: auto;
            }

            .game-timer-on {
                background-color: #585858;
                color: #bababa;
                border: 1px solid;
                border-color: #a6a6a6;
            }

            .game-user-avatar {
                width: 35px;
                height: 35px;
                margin-right: 5px;
                border-radius: 50%;
            }

            .game-user-rating {
                color: grey;
                margin-left: 5px;
            }

            .player-info {
                font-size: medium;
            }

            .game-points {
                color: rgb(109, 109, 109);
                height: 21px;
            }
        }
    }
}
