.game-result-alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #3a3a3a;
    border-radius: 10px;
    padding: 0px 0px 15px;
    width: 240px;
    height: 240px;
    box-shadow: 0px 0px 6px 3px rgb(0, 0, 0, 0.20);
    z-index: 25;
    overflow: hidden;
    animation: scale-animation 0.75s ease 0s 1;

    .game-result-exit-button {
        cursor: pointer;
        position: absolute;
        display: flex;
        top: 5px;
        right: 5px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        background-image: url('../../public/static/images/icons/close_icon.png');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        background-size: 20px 20px;
        border: 0px;
        transition: 0.2s;
        border-radius: 5px;

        &:hover {
            background-color: rgb(0, 0, 0, 0.3);
        }
    }

    .game-result-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #343434;
        box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
        width: 100%;
        padding: 4px 0px 12px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;

        .game-result-header-decision {
            font-size: x-large;
            font-weight: 700;
        }

        .game-result-header-description {
            font-size: small;
            font-weight: 600;
        }
    }

    .game-result-body {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;

        .game-result-user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100px;

            .game-result-avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .game-result-winner {
                animation: win-circle 1.5s ease 0.15s 1 forwards;

                @keyframes win-circle {
                    0% {
                        outline: 3px solid;
                        outline-color: white;
                    }
                    100% {
                        outline: 3px solid;
                        outline-color: rgb(19, 160, 19);
                    }
                }
            }

            .game-result-username {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;
                width: 100%;
                text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
            }
        }
    }

    .game-result-footer {
        display: flex;
        align-items: center;
        height: 35px;

        .game-result-exit-game-button {
            cursor: pointer;
            padding: 10px 15px;
            position: relative;
            background-position: center;
            color: white;
            border: 1px solid rgb(6, 141, 6);
            background-color: rgb(65, 161, 65);
            border-radius: 25px;
            box-shadow: 3px 3px 5px 0px rgb(0, 0, 0, 0.2);
            text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
            transition: 0.2s;

            &:hover {
                border-color: rgb(6, 134, 6);
                background-color: rgb(62, 152, 62);
            }
        }
    }
}
